@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h3>Toastr by CodeSeven</h3>
<a class="btn btn-primary" id="justabutton">Just a button</a>
